:root {
    --textColor : #f8f9fa;
}



*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: "Space Mono", monospace;

      
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;  /* For WebKit-based browsers */
    -moz-osx-font-smoothing: grayscale;
}

.textContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--textColor);
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.textContent h1 {
    font-size: 1.5rem;
    margin: 1rem;
    font-family: "space mono";
    font-weight: 700;

}

.textContent p {
    font-size: 2rem;
    font-weight: bold;
}

.textContent button {
    background-color: transparent;
    color: var(--textColor);
    border: 1px solid var(--textColor);
    margin-top: 2rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    font-family: "space mono";
    text-transform: uppercase;
    cursor: pointer;
}

.textContent button:hover {
    background-color: var(--textColor);
    color: rgb(0, .19, .4);
}